@AquaMarine: #00d9a6;
@blue: #3665ff;
@red: #f57f7f;

.margenes(@top:0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	background-color: @AquaMarine;
	color: black;
	margin-top: 50px;
}

footer{
	padding:10px 10px 0 10px;
	background-color: @AquaMarine;
	.margenes (50px, 0px);
}
p {
	color: brown;
}

.card-hotel{
	flex:1 200px;
.margenes (10px, 0px);
}

.btn-reserva{
	width:100%;
	border-radius:0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tap-content{
	padding-top: 10px;
}
