.jumbotron {
  background-color: #00d9a6;
  color: black;
  margin-top: 50 px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #00d9a6;
  margin-top: 10 px;
  margin-bottom: 0px; }

p {
  color: brown; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10 px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tap-content {
  padding-top: 10px; }
