$AquaMarine: #00d9a6;
$blue: #3665ff;
$red: #f57f7f;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron {
	background-color: $AquaMarine;
	color: black;
	@include margenes(50 px, 0px);
}

footer{
	padding:10px 10px 0 10px;
	background-color: $AquaMarine;
	@include margenes(10 px, 0px);
}
p {
	color: brown;
}

.card-hotel{
	flex:1 200px;
	@include margenes(10 px, 0px);
}

.btn-reserva{
	width:100%;
	border-radius:0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tap-content{
	padding-top: 10px;
}
